:root {
  --framework-blue: #3f3d56;
  --bright-blue: #00b0ff;
  --transparent-blue: #00b0ff2e;
  --off-white: #eef5dbff;
  --grey: #d0cde1;
  --accent: #f7b801;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-bottom: 104px;
  position: relative;
  min-height: 100vh;
}

.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #3f3d56;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  border-radius: 25px;
  color: #3f3d56;
}
