:root {
  --framework-blue: #3f3d56;
  --bright-blue: #00b0ff;
  --transparent-blue: #00b0ff2e;
  --off-white: #eef5dbff;
  --grey: #e6e6e6;
  --accent: #c99f32;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
