:root {
  --framework-blue: #3f3d56;
  --bright-blue: #00b0ff;
  --transparent-blue: rgba(0, 176, 255, 0.18);
  --off-white: #eef5dbff;
  --accent: #c99f32;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
